@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor
@using PierresTreats.Models

<h2>Flavor Details</h2>
<hr>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <h4>This flavor does not have any treats.</h4>
}
else
{
  <h4>This flavor has these treats:</h4>
  <ul>
    @foreach (TreatFlavor join in Model.JoinEntities)
    {
      <li>@join.Treat.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Flavors"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a treat to this flavor", "AddTreat", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Edit this flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete this flavor", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Back to flavor list", "Index")</p>